
    {{>partials/header}}
       
    {{>partials/sidebar}}

         <div id="page-content-wrapper col-10">
             <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa align-left primary-text fs-4 me-3" id="menu-toggle"><img src="icons/list-task.svg" alt=""></i>
                    <h2 class="fs-2 m-0">Painel</h2>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportContent" aria-expanded="false" aria-lavel="Toggle navigation">
                    <span class="navbar-loggler icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item-dropdown">
                            <a href="#" class="nav-link dropdown-toggle second-text fw-bold" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2">John Doe</i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a href="#" class="dropdown-item">Profile</a></li>
                                <li><a href="#" class="dropdown-item">Settings</a></li>
                                <li><a href="#" class="dropdown-item">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid px-4">
               <div class="row g-3 my-2">
                    <div class="col-md-3 " >
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <p class="fs-5">Lista de pedidos</p>
                                <h3 class="fs-2">720</h3>
                                <p class="fs-5">De ontem</p>
                            </div>
                            <i class="fs-1 primary-text boder rounded-full secondary-bg p-3"><img src="icons/cart.svg" class="rounded float-start"></i>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <p class="fs-5">Vendas totais</p>
                                <h3 class="fs-2">120,0$</h3>
                                <p class="fs-5">De ontem</p>
                            </div>
                            <i class="fs-1 primary-text boder rounded-full secondary-bg p-3"><img src="icons/cart-plus.svg" class="rounded float-start"></i>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <p class="fs-5">Lucro dia total</p>
                                <h3 class="fs-2">320,00$</h3>
                                <p class="fs-5">De ontem</p>
                            </div>
                            <i class="fs-1 primary-text boder rounded-full secondary-bg p-3"><img src="icons/cloud-arrow-down.svg" class="rounded float-start"></i>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <p class="fs-5">Valor total</p>
                                <h3 class="fs-2">32000,00$</h3>
                                <p class="fs-5">De ontem</p>
                            </div>
                            <i class="fs-1 primary-text boder rounded-full secondary-bg p-3"><img src="icons/cloud-arrow-down.svg" class="rounded float-start"></i>
                        </div>
                    </div>    
               </div>
               <div class="row my-5">
                   <h3 class="fs-4 mb-3">Recent Orders</h3>
                   <div class="col">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Data</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Oferta</th>
                            <th scope="col">Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>11 Dezembro 2020</td>
                            <td>Otto</td>
                            <td>Entregue</td>
                            <td>$100</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>11 Dezembro 2020</td>
                            <td>Otto</td>
                            <td>Entregue</td>
                            <td>$100</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>11 Dezembro 2020</td>
                            <td>Otto</td>
                            <td>Entregue</td>
                            <td>$100</td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>11 Dezembro 2020</td>
                            <td>Otto</td>
                            <td>Entregue</td>
                            <td>$100</td>
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td>11 Dezembro 2020</td>
                            <td>Otto</td>
                            <td>Entregue</td>
                            <td>$100</td>
                          </tr>
                          <tr>
                            <th scope="row">6</th>
                            <td>11 Dezembro 2020</td>
                            <td>Otto</td>
                            <td>Entregue</td>
                            <td>$100</td>
                          </tr>
                          <tr>
                            <th scope="row">7</th>
                            <td>11 Dezembro 2020</td>
                            <td>Otto</td>
                            <td>Entregue</td>
                            <td>$100</td>
                          </tr>
                          <tr>
                            <th scope="row">8</th>
                            <td>11 Dezembro 2020</td>
                            <td>Otto</td>
                            <td>Entregue</td>
                            <td>$100</td>
                          </tr>
                          <tr>
                            <th scope="row">9</th>
                            <td>11 Dezembro 2020</td>
                            <td>Otto</td>
                            <td>Entregue</td>
                            <td>$100</td>
                          </tr>
                          <tr>
                            <th scope="row">10</th>
                            <td>11 Dezembro 2020</td>
                            <td>Otto</td>
                            <td>Entregue</td>
                            <td>$100</td>
                          </tr>
                        </tbody>
                      </table>
                   </div>
               </div>
            </div>
         </div>
    </div>

    <script>
        var el = document.getElementById("wrapper")
        var toggleButton = document.getElementById("menu-toggle")

        toggleButton.onclick = function (){
            el.classList.toggle("toggled")
        }
    </script>

{{>partials/footer}}