<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formularioCadastro</title>
    <!--Link CSS FORMULARIO-->
    <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/formularioSenhaNova.css">
    <!--Link BOOTSTRAP -->
    <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css">
</head>

<body>
    <div class="form-recuperacaoSenha container">
        <div class="row g-3 align-items-center d-block position-absolute  top-50 start-50 translate-middle">
            <h3 class="logoRecuperacao">COOPERMIN</h3>
            <div class="formularioComp">
                <div class="col-auto ">
                    <label for="inputPassword6" class="col-form-label">Nome</label>
                </div>
                <div class="col-auto">
                    <input type="password" id="inputPassword6" class="form-control"
                        aria-describedby="passwordHelpInline">
                </div>
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">CPF</label>
                </div>
                <div class="col-auto">
                    <input type="password" id="inputPassword6" class="form-control"
                        aria-describedby="passwordHelpInline">
                </div>
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">Confirmar E-mail</label>
                </div>
                <div class="col-auto">
                    <input type="password" id="inputPassword6" class="form-control"
                        aria-describedby="passwordHelpInline">
                </div>
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">Nova Senha</label>
                </div>
                <div class="col-auto">
                    <input type="password" id="inputPassword6" class="form-control"
                        aria-describedby="passwordHelpInline">
                </div>
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">Repetir Senha</label>
                </div>
                <div class="col-auto">
                    <input type="password" id="inputPassword6" class="form-control"
                        aria-describedby="passwordHelpInline">
                </div>
                <div class="button-click col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Confirmar inscrição
                        </label>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    </div>
                    </form>
                </div>
            </div>

        </div>
</body>

</html>