{{>partials/header}}
    
<!-- Side bar começa aqui -->
{{>partials/sidebar}}

<script> document.title = "Início - Coopermin" </script>

<div class="col-10">
    <div class="jumbotron">
        <h1 class="display-4">Olá, como vai?</h1>
        <p class="lead">Comece pelo painel ao lado...</p>
    </div>
</div>

{{>partials/footer}}